ADF_Resources/pipeline/Batching DEMO.json
{
	"name": "Batching DEMO",
	"properties": {
		"activities": [
			{
				"name": "Get Batch Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(BatchID) AS TotalBatches FROM admin.Event_Details;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "case_eus_sql_dev_batch_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Total_Batches",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Batch Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalBatches",
					"value": {
						"value": "@activity('Get Batch Count').output.firstRow.TotalBatches",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IterateOverBatch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Total_Batches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1, variables('TotalBatches'))\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Item Value",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "item",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Batching",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Item Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Batching DEMO child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchID": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TotalBatches": {
				"type": "Integer"
			},
			"item": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Batch POC"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-13T05:26:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}